<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

    <form action="/madlib">
        <label for="person"> Choose a person </label>
        <input type="text" name = "person" id = "person">
        <br>
        <label for="color"> Choose a color </label>
        <input type="text" name = "color" id = "color">
        <br>
        <label for="adjective"> Choose a adjective </label>
        <input type="text" name = "adjective" id ="adjective">
        <br>
        <label for="noun"> Choose a noun </label>
        <input type="text" name = "noun" id = "noun">
        <input type="submit">
    </form>
</body>
</html>